@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

:root {
   --background-color-header: #dde3e8;
   --font-asian: 'Noto Sans JP', sans-serif;
   --font-english:  'Open Sans', sans-serif;
   --color-main-text: #444444;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 55px;
    position: relative;
    background-color: var(--background-color-header);
    display: flex;
    justify-content: space-between;
}

.col-2 {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

/* Logo */
.logo-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 14px;
}
.logo-container .logo {
    width: 91px;
    height: 27px;
}

.logo-title {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  font-size: 8px;
  font-family: var(--font-asian);
  color: var(--color-main-text);
  letter-spacing: 1px;
}

.logo-title .logo-title-dot {
    display: none;
}
/* End logo */



/* nav bar */
.nav-bar {
    width: 100%;
    height: 1px;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 55px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--background-color-header);
    transition: height 500ms ease-in-out;
    overflow: hidden;
}

.open-nav-bar {
  padding: 20px 0;
  height: auto;
}

.nav-bar .col-1 {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.nav-bar .col-2 {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.nav-link {
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    padding: 5px 8px;
}

.nav-link:hover {
    opacity: 0.9;
}

.nav-link-tag-english {
    font-size: 10px;
    font-family: var(--font-english);
    font-style: oblique;
    font-weight: bold;
    color: var(--color-main-text);
}

.nav-link-tag-asian {
    font-size: 16px;
    font-family: var(--font-asian);
    letter-spacing: 1px;
    color: var(--color-main-text);
}

.nav-link .link-icon {
    margin-top: -2px;
    font-size: 15px;
    color: var(--color-main-text);
}

.nav-link-phone-container {
    position: relative;
}

.nav-link-phone-container::before {
   display: none;
   content: "";
   position: absolute;
   border-left: 1px dotted var(--color-main-text);;
   width: 3px;
   height: 80%;
   left: -1px;
   top: 50%;
   transform: translateY(-50%);
}

.number-phone {
    font-size: 18px;
    font-family: var(--font-english);
    color: #444444;
}

.nav-link-tag-phone {
    font-size: 9px;
    font-family: var(--font-asian);
    color: var(--color-main-text);
    letter-spacing: 2px;
}

.icon-number-phone{
    width: 21px;
    height: 21;
}


/* end nav bar*/



/* Btn header container*/
.btn-header-container {
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: flex-end;
}

.social-media {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: flex-end;
}

.social-media .social-media-link {
    width: 50px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-decoration: none;
    color: black;
    padding: 0 3px;
}

.social-media-link-logo {
    width: 20px;
    height: 20px;
    margin-bottom: 3px;
}

.social-media-tag {
    font-family: var(--font-asian);
    font-size: 10px;
    letter-spacing: 1px;
}

#line-social-media {
    background-color: #44a7a7;
    color: white;
}

#form-social-media {
    background-color: #ef3f75;
    color: white;
}


.btn-toggle {
    width: 50px;
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    padding: 0 3px;
    background-color: #086cc2;
    color: white;
    cursor: pointer;
}

.btn-toggle-icon {
    font-size: 30px;
}

.btn-toggle-tag {
    font-size: 10px;
    display: none;
}
nav {
    display: none;
}


@media screen and (min-width: 768px){

    header {
        height: 85px;
    }

    .logo-container {
        flex-direction: row;
        align-items: center;
    }

    .logo-container .logo {
        width: 120px;
        height: 36px;
    }

    .logo-title {
        flex-direction: row;
        font-size: 11px;
        margin-left: 8px;
    }

    .logo-container .logo-title-dot {
        display: block;
    }

    .nav-bar {
        top: 85px;
    }

    .social-media .social-media-link {
        width: 80px;
    }

    .social-media-link-logo{
        width: 26px;
        height: 25px;
    }

    .social-media-tag {
        font-size: 12px;
    }
    .btn-toggle {
        width: 80px;
    }
    .btn-toggle-icon {
       font-size: 35px;
    }
    .btn-toggle-tag {
        display: block;
        font-size: 12px;
    }

}


@media screen and (min-width: 1110px){
    header {
        height: 100px;
    }

    .logo-container .logo {
        width: 135px;
        height: 40px;
    }

    .logo-title {
        margin-left: 3px;
    }
     
    /*------ Nav Bar---------*/
    .nav-bar{
        flex-direction: row;
        justify-content: flex-start;
        position: initial;
        height: auto;
        width: auto;
    }
    
    .nav-bar .col-1 {
      flex-direction: row;
    }

    .nav-link-phone-container::before {
        display: block;
    }

    .btn-toggle {
        display: none;
    }
  
    /*------------------------*/

    .social-media .social-media-link {
        width: 100px;
    }

    .social-media-link-logo {
        width: 28px;
        height: 28px;
        margin-bottom: 3px;
    }

}

@media screen and (min-width: 1250px){ 

    /*-------Nav Bar------------*/
    .nav-link {
        padding: 5px 16px;
    }
    
    .nav-link-tag-english {
        font-size: 12px;
    }
    
    .nav-link-tag-asian {
        font-size: 18px;
    }
    
    .nav-link .link-icon {
        font-size: 18px;
    }

    .number-phone {
        font-size: 24px;
    }
    
    .nav-link-tag-phone {
        font-size: 12px;
    }
}



